*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(18, 141, 203);
}
.logo{
    align-items: start;
    text-align: left;
    font-size: 1.6rem;
    color: white;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 27px;
    font-size: 1.1rem;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(8, 90, 125);
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
    height: 400px;
}
.firstSection .leftSection{
    width: 30%;
}
.leftSection{
    margin: 80px 0;
    font-size: 2.5rem;
}
.leftSection .btn{
    padding: 10px;
    background-color: rgb(11, 105, 181);
    color: white;
    border: 2px solid rgb(11, 105, 181);
    border-radius: 15px;
    font-size: 1.1rem;
    cursor: pointer;
}
.leftSection .btn:hover{
    background-color: rgb(18, 81, 132);
    cursor: pointer;
}
.rightSection img{
    width: 500px;
    height: 450px;
}
main hr{
    /* border: 1; */
    background-color: rgb(83, 83, 88);
    height: 1px;
    margin: 40px 16vh;
}
.text-gray{
    color: rgb(93, 102, 102);
}

.secondSection{
    max-width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin: 80px 0px;
    padding-left: 200px;
}
.secondSection .left{
    /* background-color: aqua; */
    width: 30%;
    margin: 0px -40px;
}
.secondSection .left img{
    width: 450px;
}
.secondSection .right {
    margin-left: 300px;
    margin-right: 150px;
    /* background-color: red; */
    margin-top: -40px;
    /* width: 70%; */
}
.secondSection .right h1{
    /* padding-left: 50px; */
    font-size: 2rem;
}
.secondSection .right p{
    /* padding-top: 15px; */
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.secondSection .right .btn{
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(11, 105, 181);
    color: white;
    border: 2px solid rgb(11, 105, 181);
    border-radius: 15px;
    font-size: 1.1rem;
    cursor: pointer;
}

.thirdSection{
    max-width: 80vw;
    margin: auto;
}
.thirdSection h1{
    font-size: 2rem;
}
.company-img{
    width: 190px;
    height: 52px;
    background-color: red;
}
.company-img img{
    width: 100%;
    height: 100%;
}
.thirdSection .position{
    font-size: 1.3rem;
    margin-top: 10px;
    padding: 0 20px;
}
.thirdSection .time-period{
    /* font-size: 1.3rem; */
    padding: 0 20px;
}

.fourthSection{
    max-width: 80vw;
    margin: auto;
}
.child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fourthSection h1{
    font-size: 2rem;
}
.child-div{
    width: 180px;
    height: 200px;
    /* background-color: red; */
    background-color: rgb(248, 251, 251);
    margin: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.child-div img{
    margin-top: 10px;
    width: 90%;
    height: 70%; 
}
.child-div img{
    margin-bottom: 0px;
    width: 70%;
    height: 70%; 
}
.fifthSection{
    max-width: 80vw;
    margin: auto;
}
.fifthSection h1{
    font-size: 2rem;
}
.fifthSection .projects{
    display: flex;
    justify-content: center;
}
.fifthSection .project{
    width: 40vh;
    height:70vh;
    background-color: rgb(248, 251, 251);
    margin: 15px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
}
.project h2{
    background-color: rgb(83, 171, 201);
    color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    width: 70%;
    height: 35%; 
}
.project p{
    text-align: left;
    margin: 25px;
    margin-bottom: 30px;
}
.project .btns{
    padding: 6px;
    text-decoration: none;
    background-color: rgb(11, 105, 181);
    justify-content: center;
    color: white;
    border: 2px solid rgb(11, 105, 181);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 10px;
}
.view-btn{
    padding: 6px;
    text-decoration: none;
    background-color: rgb(11, 105, 181);
    color: white;
    border: 2px solid rgb(11, 105, 181);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 10px;
}
.center{
    margin: 20px 0;
}

.sixthSection{
    max-width: 80vw;
    margin: auto;
}
.sixthSection .certificates{
    display: flex;
    justify-content: center;
}
.sixthSection .certificate{
    width: 40vh;
    height: 40vh;
    background-color: rgb(248, 251, 251);
    margin: 40px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.certificate img{
    width: 90%;
    height: 70%;
    padding: 10px;
}
.certificate a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.seventhSection{
    max-width: 80vw;
    margin: auto;
}
.seventhSection h1{
    font-size: 2rem;
}
.contact i{
    padding: 0 6vh;
    /* padding-right: 2vh;
    margin-top: auto; */
    font-size: 2rem;
    color: rgb(9, 59, 109);
}
.contact i a{
    justify-content: center;
    padding:  0px 2vh;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.copyright {
    font-size: 14px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}